        <footer class="navbar navbar-default end">
            <div class="container">
                <p class="navbar-text pull-left">
                    <a href="http://www.freeways.tn" target="_blank">FreeWays </a>association
                </p>
                <a href="http://www.freeways.tn/?q=node/6" class="navbar-btn btn-danger btn pull-right">
                    <span class="glyphicon glyphicon-star"></span>
                    Contactez-nous
                </a>
            </div>
        </footer>
        
    </body>
</html>
