        <% if (user) {%>
        <div id="chat-holder" data-username="<%= user.facebook.name%>">
            <ul id="messages">
            </ul>
            <input type="text" id="message">
            <button id="chat-submit">Send</button>
        </div>
        <script src="/js/chat.js"></script>
        <% } %>
        <footer class="navbar navbar-default end">
            <div class="container">
                <p class="navbar-text pull-left">
                    <a href="http://www.freeways.tn" target="_blank">FreeWays </a>association
                </p>
                <a href="http://www.freeways.tn/?q=node/6" class="navbar-btn btn-danger btn pull-right">
                    <span class="glyphicon glyphicon-star"></span>
                    Contactez-nous
                </a>
            </div>
        </footer>
        
    </body>
</html>
