<%- include('layouts/header.html') -%>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="topic-list">
                <% topics.forEach(function (topic) {%>
                <article>
                    <div class="count">
                        <span class="num"><%= topic.comments %></span>
                        <span>Comments</span>
                    </div>
                    <div class="info">
                        <h2 class="title"><a href="/topic/<%= topic.id %>"><%= topic.subject %></a></h2>
                        <p class="desc"><%= topic.preamble %></p>
                    </div>
                </article>
                <% }) %>
            </section>
        </div>
    </div>
</div>
<%- include('layouts/footer.html') -%>