<%- include('layouts/header.html') -%>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="topic-list">
                <article>
                    <div class="count">
                        <span class="num"><%= comments.length %></span>
                        <span>Comments</span>
                    </div>
                    <div class="info">
                        <h2 class="title"><a href="/topic/<%= topic.id %>"><%= topic.subject %></a></h2>
                        <p class="desc"><%= topic.preamble %></p>
                    </div>
                </article>
                <ul class="timeline">
                    <% comments.forEach(function (comment) {%>
                    <li>
                        <div class="timeline-badge">
                            <img src="<%= comment.userpic? comment.userpic : '/images/stallman.jpg' %>" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><%= comment.username %></h4>
                            </div>
                            <div class="timeline-body">
                                <p><%= comment.body %></p>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                    <li>
                        <div class="timeline-badge">
                            <% if(user) { %>
                                <img src="<%= user.facebook.photo %>">
                            <% }else{ %>
                                <i class="glyphicon glyphicon-question-sign"></i>
                            <% } %>
                        </div>
                        <div class="timeline-input">
                            <div class="timeline-body">
                                <form action="/newcomment" method="post">
                                    <textarea name="comment" class="well"></textarea>
                                    <% if(user) { %>
                                        <button type="submit" class="btn btn-default">Comment</button>
                                    <% }else{ %>
                                        <a class="btn btn-primary" href="/auth/facebook">
                                            <span class="fa fa-facebook"></span> Connect
                                        </a>
                                    <% } %>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<script src="/js/timeline.js"></script>
<%- include('layouts/footer.html') -%>