@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
    background-color: rgb(220, 220, 220);
}
.end{
    margin-bottom: 0;
}
.topic-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.topic-list > article {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.topic-list > article > .count {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.topic-list > article:nth-child(even) > .count {
    background-color: rgb(165, 82, 167);
}
.topic-list > article > .count > .num {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.topic-list > article > .info {
    padding-top: 5px;
    text-align: center;
}
.topic-list > article > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.topic-list > article > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.topic-list > article > .info > ul,
.topic-list > article > .info > ul > li,
.topic-list > article > .info > ul > article > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.topic-list > article > .info > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
@media (min-width: 768px) {
    .topic-list > article {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .topic-list > article > .count,
    .topic-list > article > img  {
        display: inline-block;
    }
    .topic-list > article > .count,
    .topic-list > article > img {
        width: 120px;
        float: left;
    }
    .topic-list > article > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .topic-list > article > .count,
    .topic-list > article > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .topic-list > article > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .topic-list > article > .info > .title, 
    .topic-list > article > .info > .desc {
        padding: 0px 10px;
    }
    .topic-list > article > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}