exports.fb = {
    facebook : {
        'clientID'      : 'xxxxxxxxxxxxxxx', // My App ID
        'clientSecret'  : 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx', // My App Secret
        'callbackURL'   : 'http://localhost:8081/auth/facebook/callback'
    }
};